<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тег form</title>
</head>
<body>
    <h1>Форма отзыва</h1>
    <form method="post" action="/form/">
        <label for="feedback-text">Отзыв:
        <input id="feedback-text" type="text" name="text">


        <label for="feedback-grade">Оценка:
        <input id="feedback-grade" type="number" name="grade">

        <label for="feedback-image">Фотография:
        <input id="feedback-image" type="file" name="image">

        <input id="feedback-submit" type="submit">


</body>
</html>